.WeatherInfo h1 {
  text-transform: uppercase;
  margin-top: 10px;
  margin-left: -50px;
  text-align: left;
  font-weight: 700;
  font-size: 50px;
  color: #a86a74;
}
.WeatherInfo canvas {
  width: 80px;
  height: 80px;
  margin-right: 20px;
  margin-left: -70px;
}
.WeatherInfo .info {
  margin-left: -80px;
  font-size: 20px;
}
.WeatherInfo li {
  color: #332023;
}
.WeatherInfo .temperature {
  font-size: 70px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #332023;
  position: relative;
  bottom: 16px;
}
.WeatherInfo .unit {
  font-size: 20px;
  position: relative;
  bottom: 50px;
  color: #332023;
}
.WeatherInfo .description:first-letter {
  text-transform: capitalize;
}
