.WeatherInfo h1 {
  text-transform: uppercase;
  margin-top: 10px;
  font-weight: 700;
  font-size: 60px;
  color: #a86a74;
  text-align: center;
  display: block;
  margin-left: 20px;
}
.WeatherInfo canvas {
  margin-left: 20px;
  position: relative;
  top: 40px;
}
.WeatherInfo .info {
  text-align: center;
  font-size: 25px;
  margin-bottom: 30px;
  font-weight: 500;
  display: block;
}
.WeatherInfo .details {
  font-size: 20px;
  margin-top: 20px;
  padding-right: 10px;
}
.WeatherInfo li {
  color: #000;
}
.WeatherInfo .description:first-letter {
  text-transform: capitalize;
}
